html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'robotoregular';
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

.hero {
    background-color: #1F2937;
    color: aliceblue;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
}

.hero ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem ;
    list-style-type: none;
    font-size: 1.3rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.subhero {
    display: flex;
}

.contentleft {
    
}



.title {
    font-size: 4rem;
    flex: content;
}

.footer {
}

.placeholderimg {
    background-color: beige;
}

