body {
    margin: 0;
    font-family: 'robotoregular'
}

.hero {
    background-color: #1F2937;
    margin: 0px;
    color: whitesmoke;
    padding: 20px;
    align-items: center;
}

.hero .upper {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.hero .headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hl_text {
    flex: 1 1 100%;
}

.hl_text h1 {
    font-family: 'robotobold';
}

.hl_img {
    flex: 1 1 100%;
    width: 100px;
    background-color: grey;
}

.hero ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 20px;
}

.title {
    font-family: 'robotomedium';
    font-size: 28px;
}