html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'robotoregular';
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: aliceblue;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    padding-bottom: 1rem;
}

.hero ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem ;
    list-style-type: none;
    font-size: 1.3rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.subhero {
    display: flex;
    align-items: stretch;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.contentleft {
    flex: 1 1 40%;
    padding-right: 2rem;
}

.contentright {
    flex: 1 1 40%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    color: white;
    font-family: 'robotobold';
}

.title {
    font-size: 4rem;
    flex: content;
}

.container1 {
    margin: 2rem;
    text-align: center;
}

.container2 {
    background-color: #E5E7EB;
    padding: 5rem 20%;
    font-size: 36px;
    font-family: 'robotoitalic';
}

.cubeholder {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cube {
    width: 10rem;
    height: 10rem;
    border-style: solid;
    border-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.content {
    padding-bottom: 2rem;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;

}



